<nav class="flex .z-index">
	<div class="logo"><a href="/">🔗Shorten</a></div>
	<div class="flex right ">
		<ul class="flex">
			<li><a href="javascript:void(0)">Features</a></li>
			<li><a href="javascript:void(0)">Pricing</a></li>
			<li><a href="javascript:void(0)">Resources</a></li>
		</ul>
	</div>
	<div class="left flex">
		<ul class="flex" id="login_signup">
			<a href="javascript:void(0)" class="login">
				<button>Login</button>
			</a>
			<a href="javascript:void(0)" class="signup">
				<button class="active">SignUp</button>
			</a>
		</ul>
	</div>
	<button class="toggle" id="toggle">
		<div class="line line1"></div>
		<div class="line line2"></div>
		<div class="line line3"></div>
	</button>
</nav>
